[2022-03-17 14:58] robin-checkmk opened #14 "[FEED] Test Cases"
**This is a 'To-Do' issue to track ideas for tests**

Ideas:
- [ ] Add test for multisite environments
- [ ] Improve discovery tests coverage
- [ ] Add tests for role installation
- [ ] Add test to verify successful release and publish to the Galaxy
- [x] Add tests for roles (Make sure to trigger them properly)
- [x] Add tests for 2.1 (in parallel to 2.0)
- [ ] Improve integration tests (make more

[2022-03-18 09:39] robin-tribe29 opened #17 "[BUG] Ansible Galaxy import shows warning about unused variable."
**Describe the bug**

Ansible Galaxy import shows warning about unused variable.

**Component Name**

`folder`

**Ansible Version**

[code]

**Collection Version**

[code]
**Environment**

Ansible Galaxy.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Ansible Galaxy
2. Import the collection
3. Check the import log

**Expected behavior**

No warnings.

**Actual behavior**

[code]
**Scr

[2022-03-18 13:34] robin-tribe29 commented on #17
Fixed in 7b1d084b5963bf40be9789f50284199ba575d1b4.

[2022-03-18 13:34] #17 closed

[2022-03-21 08:35] kasimon opened #19 "[FEED] Feature-Request: Allow to set/remove downtime"
**Provide your feedback**
Having the ability to set/clear downtimes for servers and/or services would make a lot of sense, for example as part of a update+reboot workflow.

[2022-03-21 17:23] ogaida opened #20 "first activation fails"
**Description**

if i run my playbook, it creates the folder but the activation fails with a 414. Here is the playbook:

[code]

the verbose output of the last task is:

[code]

if i run the same playbook again, the activation works. my first guess was a timing problem. So i inserted a 5 seconds pause, but i does not help.

**Component Name**

Module: activation

**Ansible Version**
[code]

**Coll

[2022-03-22 10:55] ogaida commented on #20
one more hint, the activation was done anyway. But then then the http-response 414 is not correct, but this might not a problem of the module.

[2022-03-22 10:59] ogaida commented on #20
I close this bug, because it is not a bug of the module.

[2022-03-22 10:59] #20 closed

[2022-03-22 11:32] robin-tribe29 commented on #20
I did not get a chance to reproduce this yet, so can you please share, why you do not think it is a bug anymore?

[2022-03-22 14:01] ogaida commented on #20
because of the API does the activation, it only gives the wrong feedback (414). So for me it seems the module is correct.

[2022-03-22 14:02] ogaida commented on #20
if you want i reopen the issue

[2022-03-22 19:45] diademiemi commented on #20
I encountered this issue too, it seems to be caused by SSL. Wasn't able to test if it would work on trusted certificates, but I expect it's due to untrusted certs. Switching to HTTP (And disabling redirection to HTTPS if it was enabled) fixed it for me.

[2022-03-22 20:18] diademiemi commented on #20
Actually upon looking more I don't think it's the same issue. Mine reported a HTTP code of "-1". I wish the error messages this module gives was more descriptive, "Error calling API" doesn't help anyone.

[2022-03-23 06:39] robin-tribe29 commented on #20
@ogaida keep it closed for now, I will look into it when I can and take appropriate action.
@diademiemi if the issue persists, please open a dedicated issue, so we can look into it.

[2022-03-23 12:44] robin-tribe29 opened #25 "[FEED] Catch error for non-running site"
Verify first that your issue is not already reported [here](https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc).
Where possible also test if the latest release and main branch are affected too.
Complete all sections as described!

**Describe the bug**

When running against a  non-started site, e.g. the `folder` module fails with an arbit

[2022-03-31 13:20] robin-tribe29 commented on #19
A lot of work already went into this feature, thanks to @ogaida and @lgetwan! :tada:
Unfortunately we hit one more bump, that we need to resolve.
Keep an eye on the main branch and stay tuned for the next release. :slightly_smiling_face:

[2022-04-04 11:12] #19 closed

[2022-04-04 17:31] robin-tribe29 commented on #19
The release containing the brand-new downtime module just hit the [Galaxy](https://galaxy.ansible.com/tribe29/checkmk)! :tada:

[2022-04-04 18:03] jaydabi opened #33 "discovery and activation - generic error: "Error calling API""
When using discovery and/or activation modules, a generic error message is thrown:

[code]
The `host` module works as expected.

### Ansible Version

$ .local/bin/ansible --version
ansible [core 2.12.4]
  config file = None
  configured module search path = ['/home/jonas/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /home/jonas/.local/lib/pytho

[2022-04-22 08:49] robin-tribe29 commented on #33
@jaydabi One hint up front: Activate changes only needs to `run_once`. But I cannot reproduce an error during activation in the `0.2.0` release of the collection, if I omit the task in the middle.
I can however reproduce the issue with the discovery, both with `new` and `fix_all`. Both for the Checkmk beta and the stable release.
We will look into this and keep you posted.

[2022-04-22 09:55] robin-tribe29 opened #35 "Improve HTTP 500 handling in discovery module"
**Describe the bug**

When doing a service discovery on a host, that has no proper DNS-resolvable name or IP address set, the `discovery` module fails with a 500 HTTP code and without a human readable message.

**Component Name**

`discovery`

**Ansible Version**

[code]

**Checkmk Version**

[code]

**Collection Version**

[code]
**Environment**

**To Reproduce**
Steps to reproduce the behavior:

[2022-04-26 07:58] elwood218 commented on #33
Hi, we had the same issue. I was deploying it with Ansible. When doing the task like follow with about 6 hosts the first 2 or 3 were successful but the other got this error.

[code]

So what we did, we run that task once but loop over the hosts which worked.

[code]

I don't understand why but maybe this helps finding the cause.. The difference by Ansible within those tasks is that the first is ru

[2022-04-26 09:39] robin-tribe29 commented on #33
Hi @elwood218  and thanks for your feedback!
I am not sure, that this is the same issue. Once #35 is implemented, we should look at the distinct error message.
If I understood you correctly, you have a working state currently, so I would be glad if you can create a dedicated issue, once #35 is implemented. That will help us improve the module, as the behavior you outline definitely is not desirabl

[2022-05-11 10:44] robin-tribe29 commented on #35
Closed by #38.

[2022-05-11 10:44] #35 closed

[2022-05-11 12:56] robin-tribe29 commented on #33
@jaydabi I did not hear back from you, but we improved the logging with the [current release](https://github.com/tribe29/ansible-collection-tribe29.checkmk/releases/tag/v0.2.2). If there is still a module-related error, feel free to reopen the issue.
@elwood218 If you still encounter your error after updating the collection to the [current release](https://github.com/tribe29/ansible-collection-tri

[2022-05-11 12:56] #33 closed

[2022-05-12 11:53] elwood218 opened #41 "[BUG] host module fails because REST API puts trailing slash now"
Please verify first that your feedback is not already reported [here](https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues?q=is%3Aissue+sort%3Aupdated-desc).
If possible and useful provide additional information below. This is optional however.

**Provide your feedback**
Beginning with Checkmk `2.1.0b6` the output of getting `current_folder` from REST API has changed. Now a trailin

[2022-05-12 14:48] robin-tribe29 commented on #41
@elwood218 thanks for reporting this issue.
For us to be able to reproduce this, please fill in all the requested information as good as possible.
Thanks!

[2022-05-14 09:09] elwood218 commented on #41
Done....

[2022-05-16 09:02] robin-tribe29 commented on #41
@elwood218 Thanks for the update!
However, I cannot reproduce your issue as you described it.
Can you provide a minimal working example, how your configuration looks like?

[2022-05-16 09:48] elwood218 commented on #41
[code]
Working:
[code]

NOT Working: (DIFFERENCE IS THE TRAILING SLASH)
[code]

[2022-05-16 09:51] elwood218 commented on #41
PS: The host must be already there - I guess only then you can see it @robin-tribe29

[2022-05-16 09:52] robin-tribe29 opened #42 "[BUG] Folder creation fails with trailing slash"
**Describe the bug**

Trying to create a folder with a trailing slash lets the `folder` module fail.

**Component Name**

`folder`

**Ansible Version**

[code]

**Checkmk Version**

[code]

**Collection Version**

[code]
**Environment**

Ubuntu 20.04
Python 3.8.10

**To Reproduce**
Steps to reproduce the behavior:
1. Create a folder without a trailing slash
2. Try to create the exact same folder a

[2022-05-16 09:58] robin-tribe29 commented on #41
Now I can reproduce the issue, thanks!
This looks like it is related to #42.

@lgetwan can you take a look please?
[code]

[2022-05-16 10:01] robin-tribe29 opened #43 "Ensure Support for Checkmk 2.1.0"
This is a reminder issue, that we need to test against Checkmk 2.1.0 to ensure stability.

### Linked issues:
- #41
- #42

[2022-05-16 10:09] elwood218 commented on #41
I got an different error:
[code]

[2022-05-16 11:02] elwood218 opened #44 "[FEED] User module"
Please verify first that your feedback is not already reported [here](https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues?q=is%3Aissue+sort%3Aupdated-desc).
If possible and useful provide additional information below. This is optional however.

**Provide your feedback**
I know you are working on the user module and it cannot be used yet but I just wanted to let you know this and I

[2022-05-16 11:32] elwood218 commented on #44
The reading of all users is fixed now.. It was necessary to sync `Alias` from LDAP. Before when editing a user in GUI there was shown the name also for `full name` but maybe this is kinda autofilled.. In the overview the column `Alias` was empty.. Now when I also sync the Alias it is fixed.
Maybe there should be an default that for `full name` the `username` is set or that sync `Alias` in LDAP sho

[2022-05-16 16:48] elwood218 opened #45 "[BUG] Local variable referenced before assignment"
Verify first that your issue is not already reported [here](https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc).
Where possible also test if the latest release and main branch are affected too.
Complete all sections as described!

**Describe the bug**

I have tried to create a folder "customer" and in next task I want to create folder "p

[2022-05-16 17:17] elwood218 commented on #45
I cannot reproduce the 500 anymore.. I have deleted the folder which was before created not by `folder` module - instead it was created by `host` module.. maybe this is the reason why I got the 500?!

But now when Folder exists already - adding the host doesn't work anymore - I am really confused..
[code]

[2022-05-23 13:48] robin-tribe29 commented on #45
Just to confirm: The problem you want to tackle with this issue is that the `body` variable is only assigned if we get a 200 from the API call, so when there is an error, we cannot print that information, right?

[2022-05-23 13:54] elwood218 commented on #45
Correct.. there seems to be other problems because the 500 error from the API was showing again - but yeah in this issue only that there is a 500 shown and not the error message which is shown at the moment.

[2022-05-23 13:59] elwood218 commented on #41
That's very pity..... I know that the module is not supported officially but at the moment that is the only way. Furthermore the module is only not working anymore because of your changes to the API - before it was working fine. It also doesn't make sense that in the same module the function for creating needs a trailing slash and the function for moving doesn't want a trailing slash - this makes

[2022-05-23 14:15] robin-tribe29 commented on #41
I understand your frustration, I really do.
Just try to understand our end here too: We are doing this, when time allows. And I want to say, we are as transparent as possible about that. That is why we want to rely at least partially on the community, and we hope that some people step up and help to push this collection forward.
And one last point I need to make: As you said yourself: You are usin

[2022-05-25 04:58] lgetwan commented on #41
Hi @elwood218,
I implemented a quickfix, but slightly different as suggested:
`    if state == "present" and current_state == "present":
        headers["If-Match"] = etag
        msg_tokens = []

        if current_folder.endswith("/"):
            current_folder = current_folder.rstrip("/")

        if current_folder != module.params["folder"]:
            move_host(module, base_url, headers)

[2022-05-25 06:15] lgetwan commented on #45
I have fixed the handling off HTTP 500 errors in host.py and folder.py.

[2022-05-25 06:15] #45 closed

[2022-05-25 09:34] elwood218 commented on #41
@lgetwan I have tested it with your devel branch and Checkmk 2.1.0 stable and it seems to work now. Really thank you! :)

[2022-05-30 09:45] elwood218 opened #51 "[BUG] Discovery got same problem with body variable"
Verify first that your issue is not already reported [here](https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc).
Where possible also test if the latest release and main branch are affected too.
Complete all sections as described!

**Describe the bug**

There are 2 errors but one is related to the module and the other is imho a problem of

[2022-05-30 12:23] #41 closed

[2022-06-03 07:59] lgetwan commented on #51
Hi @elwood218,

I fixed the discovery module in the devel branch. The error message still looks a bit ugly, but at least it's no longer an "Exception", and it contains the actual error message from the API.
Can you please test it?

Best regards
Lars

[2022-06-03 09:13] elwood218 commented on #51
@lgetwan This is the output now.

[code]

[2022-06-03 10:49] lgetwan commented on #51
Hi @elwood218,

I definitely didn't expect a "-1". :-o
But when checking the sources of fetch_url, I found some further information about that case. I improved the error message. Can you please check again?
Thanks so far for your help!

Best regards
Lars

[2022-06-03 11:00] elwood218 commented on #51
Hi, if that `git pull` are your changes then the output is same:

[code]

[code]

[2022-06-03 11:49] lgetwan commented on #51
Hi,
for some reason, my fix wasn't merged into the devel branch. I did that again and verified it. Can you please try again?
Best regards
Lars

[2022-06-03 12:08] elwood218 commented on #51
Hi, now it looks like that:

[code]

Btw. before when I was getting a 500 from the API sometimes a link to a crashreport was directly shown.. but it seems that this is not working anymore. Just wanted to mention it - don't know if it is related.

[2022-06-03 12:54] lgetwan commented on #51
Hi,
for some reason, your API is not responding in time.
Probably you should try to do the call with curl for testing:

[code]
How long does this call take approximately?

[2022-06-03 14:09] elwood218 commented on #51
It must look like that I guess:

[code]

[2022-06-03 14:15] elwood218 commented on #51
[code]

But service discovery could take longer.. and like I said it is working when I "loop" over it in Ansible but when I run it for each inventory host (which could be parallel) then it fails.

[2022-06-03 14:29] elwood218 commented on #51
I have just tested it on shell.

discover-all-hosts.sh -> this script does a "for" loop - so sequential and it takes about 4 secs like in my last post.

But if I do that and run all those 4 scripts in parallel:
[code]

Then these are the times of each host:

          time_total:  4.544909s
          time_total:  9.610563s
          time_total:  13.358466s
          time_total:  17.429323s

[2022-06-08 09:16] xenorites opened #58 "[BUG] tribe29.checkmk.host is not idempotent"
**Describe the bug**
When running the tribe29.checkmk.host for a host that already exists in check_mk (with `state: present`) the module returns an error.

**Component Name**
`tribe29.checkmk.host`

**Ansible Version**
[code]

**Checkmk Version**

[code]

**Collection Version**
[code]

**Expected behavior**
Ansible should return an "OK" status for idempotency.

**Actual behavior**
Ansible returns

[2022-06-08 09:39] robin-tribe29 commented on #58
Probably a duplicate of #41.
Please test this with our 'devel' branch.
A release of the collection will happen in approx. two weeks.

[2022-06-23 06:40] robin-tribe29 commented on #51
If I understand this right, we are chasing another issue here, so @elwood218 would you be so kind to close this issue and move your research about the timing issue into a new issue? There we can then research, whether it is a collection issue or an API issue.

Thanks!

[2022-06-23 07:16] robin-tribe29 commented on #51
@elwood218 Alright, then please send an email, so all relevant information is in there. Thanks!

[2022-06-23 07:18] elwood218 commented on #51
But maybe the module could use bulk discovery but I don't know how to solve that in Ansible.. (and the discovery and "accepting" is not working anyway - already opened a FEED for that)

[2022-06-23 12:37] robin-checkmk opened #59 "[FEED] Enable bulk discovery of hosts in discovery module"
But maybe the module could use bulk discovery but I don't know how to solve that in Ansible.. (and the discovery and "accepting" is not working anyway - already opened a FEED for that)

_Originally posted by @elwood218 in https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues/51#issuecomment-1164044126_

[2022-06-24 13:02] robin-tribe29 commented on #58
HI @xenorites and thanks for your patience. What you did should work, but we released [v0.4.0](https://github.com/tribe29/ansible-collection-tribe29.checkmk/releases/tag/v0.4.0) yesterday, so you might want to check that one. If the issue then still persists, I will hand this over to a developer to take a look.

[2022-06-24 13:42] robin-tribe29 commented on #25
@lgetwan what do you think? Is there any value in trying to improve the modules in a way that the error message becomes more clear, or would you say the error messages we get are good enough?
I tend to lean towards leaving it as it is, because adding some kind of checking would add a lot of overhead to each module, while probably not providing that much more value. We can only make sure the error

[2022-06-24 13:44] robin-tribe29 commented on #42
There are changes that need to be made to the Checkmk REST API, which we are waiting for.

[2022-06-24 14:03] lgetwan commented on #25
Sounds reasonable to me. Let's leave it.

[2022-06-24 14:08] #25 closed

[2022-06-29 09:22] lgetwan opened #65 "[FEED] Support CME"
In many API endpoints, the CME has "customer" as a mandatory field. We have to take care of this.

[2022-06-29 23:44] xenorites commented on #58
Confirmed, the error does remain the same at this point.

[2022-06-30 04:42] lgetwan commented on #41
Since 2.1.0p4, the trailing slash bug was fixed.

[2022-06-30 04:54] lgetwan commented on #42
This is fixed in the upcoming 2.1.0p5 (already in current 2.1.0 branch's daily build)

[2022-06-30 06:50] robin-tribe29 commented on #58
Okay, thank you for testing again. I just received word, that some related bugs in Checkmk have been fixed, and the fixes will be present in Checkmk 2.1.0p5. This release is expected within two weeks, so I want to ask you again to check against that release once it is out. Thanks!

[2022-06-30 11:42] elwood218 commented on #41
Well but now it isn't working anymore with the Ansible module...
And if you finally saw that it was a problem in the API you can give us back the credit you have put on our bug opening to this problem...

[2022-07-11 11:29] elwood218 opened #78 "[BUG] Since version 2.1.0p5 modules not working anymore"
**Describe the bug**

Folders cannot be created because of changes in the API since 2.1.0p5

[code]

**Component Name**

`folder`, maybe also `host`

**Ansible Version**

[code]

**Checkmk Version**

[code]

**Collection Version**

[code]
**Environment**

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

**Actual behavior**

**Screenshots**

**Additional context**

[2022-07-11 19:59] kain88-de commented on #78
Sure this only happens since p5? I did change the path handling in p4. I also just checked the tests I added and found that I generate paths in a loop. So to get "/Blub/Baa" I first create "/Blub" and then "/Blub/Baa". The error also says that the REST API only wants to create the last folder given. Or in other words. This behaves like `mkdir` and not `mkdir -p`. So my assumption is this has happe

[2022-07-13 08:49] kain88-de commented on #78
The error message you have written says that the parent folder `/blub/blub/bla` does not exist. Since the rest endpoint does not create parent folders this message is expected. We can fix this in the rest api or let the ansible module deal with that.

[2022-07-13 09:42] elwood218 commented on #78
Ok.. I have copied the module and fixed it locally by myself anyway. So just take it as notice and do what you think is ok..

The parent folder is already existing and its folder ID (not title!) is: `~BLUB~blub~BLA`
The module does a `.lower()` and then the the ID of the folder is like in the output and it searches for the id `~bla~blub~bla` and does not find it.

The `.lower()` is since march in

[2022-07-13 16:00] elwood218 commented on #78
Btw.. and just fyi - I also fixed the host module which was not working anymore. The API Maybe was sending not the first `/` before and now it does.. so to fix the host module just remove the slash which is  set by the module:

OLD:
[code]

NEW:
[code]

[2022-07-20 10:59] bartowl opened #80 "[BUG] The role agent still uses automation_xxx variables instead of checkmk_agent_xxx"
**Describe the bug**
The agent role mentions ``checkmk_agent_user`` and ``checkmk_agent_pass`` in ``README`` and ``defaults/main.yml``,
but everywhere in code are still references to ``automation_user`` and ``automation_secret``. If those 2 are not passed from outside, role reports error. The mentioned variables are not used anywhere outside ``defaults.yml`` which seems to be a bug.

**Component N

[2022-07-20 11:02] robin-tribe29 commented on #80
Wow, that should have been an obvious catch. Thanks for noticing!
I am on the road for some days but will fix it afterwards.

If someone wants to give it a try, go ahead!

[2022-07-21 05:59] cmasopust commented on #58
could not confirm that this bug is solved :(

I'm using version 0.5.0 and it is still not idempotent, this time because of the leading slash...

[2022-07-21 16:31] diademiemi commented on #58
As a temporary solution you can add
`failed_when: checkmk_agent_create_result.failed is true and "The host is already part of the specified target folder" not in checkmk_agent_create_result.msg` to the task. This will make it not fail if the host is already created.

@robin-tribe29 The agent role has this line in main.yml, if a fix is implemented in the module itself this line will be redundant an

[2022-07-24 18:39] drz9 opened #85 "[BUG] idempotency not working for hosts and folders"
**Describe the bug**
When I am trying to create a folder without trailing slash e.g.:  `path: "/folder"` the run will say "ok", but the folder is not being created. If I use trailing slash e.g.  `path: "/folder/"`, the folder is being created.
But in the next run, this exact same task is going to fail with error:

`fatal: [localhost]: FAILED! => {"changed": false, "msg": "Error calling API. HTTP c

[2022-07-25 09:51] drz9 commented on #85
Ah I see this is probably a duplicate of https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues/58 so I will close this issue and follow the other one

[2022-07-25 09:52] drz9 commented on #85
Duplicate of #58

[2022-07-25 09:52] #85 closed

[2022-08-01 06:54] #80 closed

[2022-08-01 06:56] bartowl commented on #80
Thanks!

[2022-08-01 07:03] robin-tribe29 commented on #80
Let me know if you feel like there is a better approach than mine.
Preferably as a pull request. :slightly_smiling_face:

[2022-08-02 20:59] iscsrwm opened #92 "[FEED] Use variable name in agent registration"
Please verify first that your feedback is not already reported [here](https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues?q=is%3Aissue+sort%3Aupdated-desc).
If possible and useful provide additional information below. This is optional however.

**Provide your feedback**
Use the checkmk_agent_host_name variable when registering agents in the agent role rather than inventory_hostnam

[2022-08-03 06:01] robin-tribe29 commented on #92
Thanks for your feedback!
I will look into this.

[2022-08-03 23:22] iscsrwm opened #94 "[BUG] failed_when test in Create host on server"
When adding the host to server the following error occurs:

`fatal: [ph-5qhfc42 -> localhost]: FAILED! => {"changed": true, "failed_when_result": "The conditional check 'checkmk_agent_create_result.failed is true and \"The host is already part of the specified target folder\" not in checkmk_agent_create_result.msg' failed. The error was: template error while templating string: no test named 'true'

[2022-08-04 06:07] #92 closed

[2022-08-04 07:45] robin-tribe29 commented on #94
Hi @iscsrwm and thanks for the report.
I cannot reproduce the issue and your proposed solution is equivalent to the current implementation.
Can you provide a minimal reproduction example, so I can understand how the error comes about for you?

[2022-08-04 17:55] iscsrwm commented on #94
It also runs fine when I kick it off via Rundeck in a container.  So maybe this is an issue with Ansible 2.12.7 on Ubuntu 20.04.  Anyhow I'll close this for now.

[2022-08-04 17:55] #94 closed

[2022-08-05 06:34] robin-tribe29 commented on #94
Thanks for the diagnosis @iscsrwm!
We had other issues with particular Ansible versions in the past, but our tests should have picked this one up.
I am quite restricted on time these days, if I can make some time, I will investigate a little more and see, if I can reproduce the issue.
But if I got you right, it works for you now?

[2022-08-05 13:28] iscsrwm commented on #94
Yes, it's working.

[2022-08-05 16:27] mircsicz opened #98 "[BUG] role not (yet) stable on 22.04"
Hi all,

I'm trying to setup a cme server on a 22.04 host and sadly got this message:

[code]

Is there anything I could do to give it a try anyways?

And if it fails what could I do to support in getting it to work?

[2022-08-08 06:11] robin-tribe29 commented on #98
Hi @mircsicz, this is a feature, preventing users from running the role against an untested distribution.
You can override this security mechanism by adding `Ubuntu 22` to the variable `checkmk_server_server_stable_os` in `defaults/main.yml`.
If you can verify proper functionality - which is likely - we do appreciate your pull request. :)

[2022-08-10 08:27] muehlings opened #99 "[BUG] host.py: Modifying host with same folder (e.g. just change attribute or ipaddress) fails"
Seems related to these issues:
https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues/58
https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues/42

Playbook:
1. First run (host never existed before) is working:
[code]

2. Second run with new IP fails:
[code]

Result:
[code]

Desired result:
[code]

I found the position where "move_host()" is triggered and analyzed it:

[2022-08-13 18:42] FloMiau opened #102 "[FEED] move hosts only on creation"
Please verify first that your feedback is not already reported [here](https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues?q=is%3Aissue+sort%3Aupdated-desc).
If possible and useful provide additional information below. This is optional however.

**Provide your feedback**

Hi there,

I'm using the collection to add hosts to my monitoring. I've got an issue with hosts that are alread

[2022-08-15 07:54] eschek87 opened #103 "tribe29.checkmk.activation failed when to changes to activate [BUG]"
**Describe the bug**
When there are no changes to activate the module returns:
[code]

**Component Name**
tribe29.checkmk.activation

**Ansible Version**

[code]

**Checkmk Version**

[code]

**Collection Version**

[code]

**Expected behavior**
Module should return ok

**Actual behavior**
Module fails with "Error calling API"

[2022-08-15 08:17] eschek87 commented on #103
If I change line 140 ""redirect": True" to ""redirect": False" in the module 'activation.py" it works.

[2022-08-15 13:54] robin-tribe29 opened #104 "[FEED] Enable forced agent installation"
Please verify first that your feedback is not already reported [here](https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues?q=is%3Aissue+sort%3Aupdated-desc).
If possible and useful provide additional information below. This is optional however.

**Provide your feedback**

Currently, if an agent downgrade is tried, the apt module will fail with a corresponding error.
This is a sane

[2022-08-16 08:06] kain88-de commented on #103
yeah activating changes without waiting for the activation to complete can be problematic. Currently we say to use the redirect but never check if the activation completed. Changing the flag to false would solve that.

[2022-08-16 12:11] eschek87 opened #105 "Add SELinux status detection [BUG]"
**Describe the bug**
If selinux is disabled the role "tribe29.checkmk.server" to install check_mk and create a site failed with:
[code]

**Component Name**
roles/server/tasks/RedHat.yml with task name:
[code]

**Expected behavior**

Role does not fail, when selinux is disabled. Task could be improved with
[code]

[2022-08-17 06:47] robin-tribe29 commented on #105
Thanks for reporting this @eschek87!
I will take a look at it within the next week.
But I want to encourage you to try and find a solution and open a PR here. :slightly_smiling_face:

[2022-08-19 10:11] robin-tribe29 commented on #105
I implemented your solution. Thanks again.
This issue will close, once the commit hits the `main` branch. You could use the `devel` in the meantime however.

[2022-08-22 12:22] #105 closed

[2022-08-24 13:27] diademiemi opened #112 "[FEED] Add tags to the roles to allow for more flexible runs"
I propose we add tags to all tasks in the roles from this collection.
I've used this collection to deploy 9 Checkmk sites (and counting!) over the past 2 weeks! It works great, however in networks where network access is restricted, or blocked completely, these roles cease to function at all. I have had to resort to just commenting out sections of code and doing the failed tasks manually.

It woul

[2022-08-24 13:59] robin-tribe29 commented on #112
I like the idea overall because I can see the use cases quite clearly.
I also agree, that blindly adding more booleans does not make sense at this point.
As I have seen your work, I am positive that a PR will be of a quality, which we can easily merge. However, it might become a discussion which way to got, but that will be fine.
Regarding the tags I would keep it simple, as you suggested.

Lookin

[2022-08-24 14:01] diademiemi commented on #112
Alright awesome, will start working on a PR now

[2022-08-24 14:37] robin-tribe29 commented on #102
Hi @FloMiau, only placing a host on creation into a folder would violate the whole purpose of Ansible and idempotency. So we will not do that. Your second query would be a lookup plugin I think. But your suggestion of implementing a `state: info` or similar is not the Ansible way. Additionally, you would define the desired state in your inventory, rather than looking up, what is going on in Checkm

[2022-08-25 07:42] robin-tribe29 commented on #103
Fix will be pushed to `devel` within the day. Issue closes on merge to `main`.

[2022-08-25 10:41] robin-tribe29 opened #119 "[BUG] CFE not properly supported in roles"
Verify first that your issue is not already reported [here](https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc).
Where possible also test if the latest release and main branch are affected too.
Complete all sections as described!

**Describe the bug**

**Component Name**

`role agent`
`role server`?

**Ansible Version**

[code]

**Checkm

[2022-08-25 10:48] robin-tribe29 opened #120 "[BUG] Improper handling of automatic update registration"
Verify first that your issue is not already reported [here](https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc).
Where possible also test if the latest release and main branch are affected too.
Complete all sections as described!

**Describe the bug**

**Component Name**

`role agent`

**Ansible Version**

[code]

**Checkmk Version**

[c

[2022-08-25 15:05] robin-tribe29 opened #123 "[BUG] Race condition in activation module"
Verify first that your issue is not already reported [here](https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc).
Where possible also test if the latest release and main branch are affected too.
Complete all sections as described!

**Describe the bug**

There is a race condition in the activation module

**Component Name**

`activation`

[2022-08-26 11:08] #103 closed

[2022-08-26 11:08] #119 closed

[2022-08-26 11:50] robin-tribe29 commented on #123
Fixed in 4a0dde7e4f226a8436947c5b014fc849524f9f36.

[2022-08-26 11:50] #123 closed

[2022-08-26 11:51] robin-tribe29 commented on #112
Suggestion implemented in 4e47860cd5555cf7ebd685321a14929e6d77e1ce.

[2022-08-26 11:51] #112 closed

[2022-08-26 11:53] robin-tribe29 commented on #65
Note: CME support can affect the agent role too (See #121 for reference). We should keep an eye on that.

[2022-08-26 11:53] robin-tribe29 commented on #120
Fixed in de45b51bf9917ffd8496a591c57debed9f819e86.

[2022-08-26 11:53] #120 closed

[2022-08-26 11:54] robin-tribe29 commented on #43
Implemented in #100.

[2022-08-26 11:54] #43 closed

[2022-08-26 13:48] robin-tribe29 commented on #98
Implemented support in `devel`.
This issue will close, once it is merged into `main`.

[2022-08-26 13:48] robin-tribe29 commented on #104
Implemented in `devel`.

[2022-08-26 13:48] #104 closed

[2022-09-01 10:49] #98 closed

[2022-09-02 14:11] robin-checkmk opened #139 "[FEED] Implement module for distributed monitoring"
**Provide your feedback**

Soon the REST API endpoint for distributed monitoring will be available in Checkmk.
Therefore, we want to enable this feature in the collection.
This is just a placeholder at this point, as no work has been planned yet.

**Component Name**

`distributed`

**Ansible Version**

[code]

**Collection Version**

[code]
**Environment**

**Screenshots**

**Additional context**

[2022-09-07 12:20] muehlings commented on #99
I have tried the devel-branch (https://github.com/tribe29/ansible-collection-tribe29.checkmk/blob/8928a1df37701c863752fce5692b5e17c6ae2b5c/plugins/modules/host.py) and my example tasks are working now.
- Changing folder and/or ip of the host is working.
- The state (absent/present) is working.

But the role is missing a line for the state: https://github.com/tribe29/ansible-collection-tribe29.chec

[2022-09-09 15:35] robin-tribe29 commented on #99
@lgetwan can you take a look at the plugin, I cannot seem to get my head around it.

[2022-09-12 10:41] lgetwan commented on #99
Fixed with PR #147

[2022-09-12 10:41] #99 closed

[2022-09-12 10:43] lgetwan commented on #58
Fixed with #147

[2022-09-12 10:43] #58 closed

[2022-09-12 10:57] robin-tribe29 commented on #102
The underlying issue was fixed in #147. As there was no response to this day, I will close this issue as solved.

[2022-09-12 10:57] #102 closed

[2022-09-12 13:03] robin-tribe29 commented on #78
@elwood218 your issue should be fixed with #147. It will be included in version `0.9.0` which will be released today.
Can you verify that the fix works for you too and close this issue if so?

[2022-09-12 13:29] robin-tribe29 commented on #42
Closing, as this has long been fixed.

[2022-09-12 13:29] #42 closed

[2022-09-13 08:20] lgetwan commented on #44
Finally, I'm working on the user module again. I will keep your idea in the back of my mind. Thanks for providing this!

[2022-09-13 08:20] #44 closed

[2022-09-13 10:03] msekania opened #150 "[FEED] consistent solution in host.py"
Concerning the nasty host.py bug. Which as I see is now fixed with explicit call to "normalize_folder" function
line 299
[code]
actually, small change in line 140
[code]
instead of
[code]
default folder should be “/” and not “”, might be more consistent

thanks, Michael

[2022-09-13 12:12] lgetwan commented on #150
That's correct. I will take care of it.

[2022-09-15 12:21] elwood218 opened #153 "[BUG] Rule Module not correct?"
Hi, we have tried the rule module created by @diademiemi . First of all thanks for that work! But we have tested and debugged it and we aren't sure if that is working correctly. Maybe we are missing a point.

If you get for example `r["extensions"]["conditions"]` it only got the keys but not the values for comparing.
Also if the `value_raw` is sorted it not really sorts the keys, instead it sorts

[2022-09-15 12:24] diademiemi commented on #153
What version of the Checkmk server are you using?

[2022-09-15 12:25] elwood218 commented on #153
2.1.0p11

[2022-09-15 12:29] diademiemi commented on #153
The API output has changed in 2.1.0p10. What exactly does the rule module not do? Is the idem potency not correct?

[2022-09-15 12:32] elwood218 commented on #153
As I already wrote that only the keys are compared and not the values.

[2022-09-15 12:45] diademiemi commented on #153
I'm busy for a few days but I'll have a look at this in the weekend and resolve it

[2022-09-16 09:04] elwood218 commented on #153
@diademiemi @robin-tribe29 I also saw that the reason for API changes was this module. Why `()` brackets are used in the output instead of official `[]` brackets ?
In Ansible when using `from_yaml` was able to read directly the `[]` but now it is not working anymore. The same is for tools like `jq` or any other.

[2022-09-16 11:05] diademiemi commented on #153
This is because this is how they are stored and what the API expects as input. There was an inconsistency with the API requiring Python as input and the web UI exporting Python, but the API exporting JSON.

[2022-09-16 11:15] elwood218 commented on #153
Maybe I miss something but why it was not changed other way around? The API expects a JSON and a JSON would be `[]`.

[2022-09-16 11:16] diademiemi commented on #153
This is how the API expected it as input. Only the output from exporting it was changed in these changes for parity with the web UI.

[2022-09-16 11:27] elwood218 commented on #153
I have just put a rule via API with a JSON with correct `[]` brackets.. So I still don't know what you mean with "expected input"

[2022-09-16 11:28] diademiemi commented on #153
If you go into the UI and look at the rule you will see that the rule is not actually in effect since it will not correctly parse the value

[2022-09-16 11:32] elwood218 commented on #153
All values are set correct in my case. And if that would be the case there is still the option to adjust the API that it is reading JSON correctly. Because `[]` brackets are the correct ones which can be read and used by other tools.

[2022-09-16 11:33] diademiemi commented on #153
There was a discussion about this in the PR https://github.com/tribe29/ansible-collection-tribe29.checkmk/pull/79.

This was the solution chosen by the API developers. In any case this isn't related to the Ansible Collection.

[2022-09-16 11:36] elwood218 commented on #153
Yeah and I bet checkmk isn't caring anyway..

[2022-09-23 08:10] robin-tribe29 commented on #150
Fixed in 993b4ce7a3957d881389f7f9216e828e7bebefc0.

[2022-09-23 08:10] #150 closed

[2022-09-23 08:11] robin-tribe29 commented on #78
Closing this due to staleness, as there is another fix in 993b4ce7a3957d881389f7f9216e828e7bebefc0.

If there is anything else, please open a new issue.

[2022-09-23 08:11] #78 closed

[2022-09-23 12:15] RafaelKr opened #159 "[BUG] Task "tribe29.checkmk.agent : Create host on server." hangs up"
**Describe the bug**

I just tried to use this role to install the checkmk agent on my server an register it at my checkmk site.

The checkmk agent is installed successfully, but it hangs up at task "Create host on server."

My vars are set similar to this:
[code]

This is the output I get when running `ansible-playbook -vvv my_playbook.yaml`
[code]

**Component Name**

`host`

**Ansible Version**

[2022-09-23 12:28] robin-tribe29 commented on #159
The task to register the host runs on the host, that got the agent installed, or on your Ansible controller?
Can you confirm, that there is no firewall preventing communication? Because it looks like there is a dropping firewall in between.

[2022-09-23 12:39] RafaelKr commented on #159
Hmmm that's a good question. The files which should be run seem to be created on my local machine.
There should be no firewall blocking it. From my machine I can connect to the checkmk server, its dashboard and also the agent host. (443 and 22 both are open).
Can I maybe somehow add a code line to debug where it hangs up?

`checkmk_agent_server` is the server where checkmk is running on, not the s

[2022-09-23 12:43] RafaelKr commented on #159
Also the previous step `tribe29.checkmk.agent : Debian Derivates: Install Checkmk CRE Agent.` is running correctly.

[2022-09-23 12:47] RafaelKr commented on #159
This is my current full playbook.yaml

- hosts: default
  remote_user: ansible
  become: yes

  vars:
    checkmk_agent_version: "2.1.0p12"
    checkmk_agent_edition: cre
    checkmk_agent_protocol: https
    checkmk_agent_server: checkmk.example.com
    checkmk_agent_site: monitoring
    checkmk_agent_user: automation
    checkmk_agent_secret: '<MY_SECRET>'
    checkmk_agent_add_host: 'true'

[2022-09-23 13:08] RafaelKr commented on #159
I got something, when I go to `/home/my_user.ansible/collections/ansible_collections/tribe29/checkmk/roles/agent/tasks/main.yaml` on my local machine and set `become_user: my_user` on all tasks where `delegate_to` is set it works!

Although it doesn't find my folder. Maybe because of the space? It's like `checkmk_agent_folder: 'My Folder'`

[2022-09-23 13:26] robin-tribe29 commented on #159
I think it is relevant, where you run the registration task. But by default the role will run from the host, where the agent was just installed. So you want to make sure, that that host can talk to the Checkmk server.

[2022-09-23 14:00] RafaelKr commented on #159
I now got a working solution, its fixed when explicitly adding `become: false` to these both tasks (the ones using `delegate_to: localhost`):
https://github.com/tribe29/ansible-collection-tribe29.checkmk/blob/96b0a246970939ba2174b8a9ef8279809f8b6272/roles/agent/tasks/main.yml#L35
https://github.com/tribe29/ansible-collection-tribe29.checkmk/blob/96b0a246970939ba2174b8a9ef8279809f8b6272/roles/agent

[2022-09-26 09:56] cbirkenbeul opened #163 "[FEED] Windows agent module missing"
Hello,

i just came up via the check_mk forum to install the agent on my windows server. Unfortunately this collection does not provide a module to install check_mk on these OS.

If its not planed, it would be nice if there is any information on the readme that its not included.

Thanks.

[2022-09-26 10:33] robin-tribe29 commented on #163
Hi Christian and thanks for your feedback!

There is however a minor issue: If we list all the operating systems, that are unsupported by the agent and/or server role, the README would get quite extensive, if you get my drift. :)

We are lacking support for Windows right now, because I have no setup to try this on. There is a branch for Windows support already, and we are just waiting for someone

[2022-09-26 11:15] cbirkenbeul commented on #163
Hey,
to list all unsupported OS is not a good idea, i get it. But Windows is a quite popular OS.

I'm a ansible newbe but i will try the windows-agent branch, test it and reporting back.

[2022-09-26 11:28] robin-tribe29 commented on #163
I hear you. But I am confident, that we will have Windows support rather sooner than later, so I did not mention it explicitly.

The branch is not functional currently, but it might be a good starting point.

[2022-09-26 16:32] edermi commented on #65
I assume CME refers to the CheckMK Enterprise edition? If yes, How is the agent deployment support going? I'd like to avoid having to install the agent on all my systems by hand.

[2022-09-27 06:14] robin-tribe29 commented on #65
Hi @edermi, no CME is the Checkmk Managed Service Edition. This issue focuses on modules, as they need to be able to handle an additional attribute. Regarding your question about the Agent rollout: If you are using the CEE (Enterprise Edition) you are good to go. If you are actually using the CME, I would need to check a thing or two.

[2022-09-27 08:31] edermi commented on #65
Thanks, understood.
[The agent README](https://github.com/tribe29/ansible-collection-tribe29.checkmk/blob/main/roles/agent/README.md) states that CheckMK Enterprise Edition is not supported, hence I was reluctant to try it. I'd like to avoid this issue going off-topic, is there any further documentation? I'm especially interested in how this plays with the bakery and auto-updates.

[2022-09-27 09:26] robin-tribe29 opened #164 "Question about the agent role and the CEE"
Thanks, understood.
[The agent README](https://github.com/tribe29/ansible-collection-tribe29.checkmk/blob/main/roles/agent/README.md) states that CheckMK Enterprise Edition is not supported, hence I was reluctant to try it. I'd like to avoid this issue going off-topic, is there any further documentation? I'm especially interested in how this plays with the bakery and auto-updates.

_Originally pos

[2022-09-27 13:00] edermi commented on #164
Thanks for moving this to a new issue.
So, just to be sure: CheckMK Enterprise is supported by this playbook? I'd like to perform the full rollout of the agents created and signed by the bakery. Afterwards, they should keep themselves up to date automatically as far as I understood?

Would you recommend running the role only for initial deployment or does it correctly identify already installed mo

[2022-09-27 16:19] robin-tribe29 commented on #164
Right, the README might be out of date, I need to check that.

You can use this role for initial rollout, if you plan on using the agent bakery. After initial deployment, the bakery will handle the agents. If you run this role again, however, it might break the agent until it updates again. Right now there is no detection of a working bakery setup.

[2022-09-28 07:17] robin-tribe29 commented on #65
#165 adds CME support for the agent role.

[2022-09-28 12:57] edermi commented on #164
Thank you very much. I will then write a check if the agent is already installed (any hints how to approach this? I'd probably check the file system for one of the config files and an option for force-installing via ansible) and skip the agent deployment if it returns true.

I'm planning to use a specific user for ansible deployment and I'd like this user to have as little permissions as possible.

[2022-10-10 13:05] robin-tribe29 commented on #164
Hi @edermi and thanks for your patience!
I am looking forward to your pull request with the detection of working bakery.

Regarding the permission question: It is out of scope here. Head for the Checkmk forum please.

Can we close this issue then, or is there anything else?

[2022-10-10 13:10] robin-tribe29 commented on #159
This is generally fixed by #169.
It might be necessary to double-check one's configuration, but with the added `become: false` the role should work out of the box.

[2022-10-10 13:10] #159 closed

[2022-10-10 13:32] RafaelKr commented on #159
Checked the changes from the PR locally, its working for my case. Thanks!
In my last comment I stated I've added `become: false` to `tribe29.checkmk.discovery`. In the PR this wasn't changed and indeed, it is not required.

BTW in https://github.com/tribe29/ansible-collection-tribe29.checkmk/pull/169#issuecomment-1273293133 you wrote it will be merged for 0.12.0 but the next version would be 0.11.

[2022-10-10 13:57] robin-tribe29 commented on #159
Thanks for confirming!

Yes, the release 0.11.0 will hit the galaxy today and it is already packed, so I will put this fix in the next release.

[2022-10-10 18:49] edermi commented on #164
Hi,

we decided internally to move this into a separate playbook for various reasons. As this is only used on-demand when onboarding hosts, the detection is not required.

Thanks for your help!

[2022-10-10 20:45] ogaida opened #175 "[BUG] Unexpected host-update behavior"
Unfortunately I was negatively surprised today. I wanted to set a new host attribute and unfortunately lost all the remaining attributes that were already set.

If I see this correctly, in the case of an update I currently have to load all existing attributes first, then enrich them with the new attributes and then process them with tribe29.checkmk.host.

I find this procedure to be extremely cumb

[2022-10-11 05:48] ogaida commented on #175
I took a look into the openapi documentation. There are three different possibilities to change attributes:

1.  overwrite: use `attributes`
2.  keep existing and only update given attributes: use `update_attributes`
3.  remove only given attributes: use `remove_attributes`

For me it seems the best solution to take this parameters as module parameters too. So anyone could decide what is the best

[2022-10-11 05:51] #164 closed

[2022-10-11 06:02] robin-tribe29 commented on #175
Hi Oliver and thanks for your input!
I do want to say this: Ansible is a tool, which makes sure a certain state is there. So taking your example, I would in general actually expect this behavior, as Ansible cares less about what is already there, but rather about what you want to have there.

That philosophical detour aside, I understand your desire perfectly well and we will take a look at how to

[2022-10-11 07:57] ogaida commented on #175
Hi Robin,
there are many ansible-modules out there, which care about what is already there. For example take the user module:

[code]

this will not reset the password or the shell or anything else. And yes, the desired state will be activated.

The great danger with the actual handling is, you remove tons of attributes if you dont know it.

[2022-10-11 15:37] ogaida commented on #175
Another point is, there is no info module for hosts. Nothing to gather facts for existing hosts. So there is no easy way to update a host at all. How should i set the old attributes in a playbook, if i do not have a module for that. Should i do an API-Request to fetch the data first and then fumble them apart with ansible_json_query, really?

[2022-10-12 07:12] robin-checkmk opened #176 "[FEED] Close similarity between modules"
_Originally posted by @msekania in https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues/168#issuecomment-1274386559_

# Porting Checklist
- [ ] activation
- [ ] contact_group
- [ ] discovery
- [ ] downtime
- [ ] folder
- [ ] host_group
- [ ] host
- [ ] rule
- [ ] service_group
- [ ] tag_group
- [x] user

[2022-10-12 07:37] robin-tribe29 commented on #175
Hi Oliver,
fair enough, I hear you and clear.
I still deem my argument valid, but yours is as valid.
We need to take a look at this, and I will think about making the documentation clearer - if possible - in the meantime.

Regarding the lookup plugin you suggest: I already thought about that too. But the problem is resources: We need to prioritize the little time we have and focus on the most valu

[2022-10-12 08:17] lgetwan commented on #176
I don't think, that a similarity regarding the code justifies merging those three things together, because the actual items that are created, are of different kinds.
And it wouldn't simplify the usage of the Ansible module  from my point of view.
What we could do (and should do in the future) is creating a file utils.py that contains all the code that is duplicate across the modules. That would ma

[2022-10-12 14:39] msekania commented on #176
Hi Lars,

I agree that it does not simplify Ansible part.
It might also get problematic if REST API gets more complex and different for each group. With separate modules one can develop each part then separately.

It's definitely a good idea, because there are several functions that repeat cross the modules not only along the groups.

What one can do for the moment, one can also add service groups

[2022-10-13 06:16] robin-tribe29 commented on #176
@msekania please go for a dedicated PR this time, so we have a clean process.
In this issue we will discuss how to move forward with the shared code.

[2022-10-14 08:08] muehlings commented on #176
That's the approach I prefer across my other tools I am writing for Checkmk. Could be the right place to handle all API return codes and ansible messages (failed/changed/ok), too. I liked the http_code_mapping method when I first saw it, but did not invest the time to look everything up for my module.

[2022-10-14 12:20] msekania commented on #176
Is indeed a good feature! Definitely worth to adjust all the modules to it at some point.

I also agree that messaging should go to utils.py, which will simplify maintenance of standard messages for all modules.

Concerning the currently similar parts in contact, host, and service groups:

The question remains though, should one unify internal subroutines (current complexity of REST API allows thi

[2022-10-14 13:57] robin-tribe29 commented on #176
Thanks for your input guys. I am glad we agree on this in general.
We did not find the time yet to understand how this endeavor would be performed properly, because there is probably best practices from the Ansible project, which we want to follow as well as some Checkmk-specific stuff.

If any of you feels like they have a good grip on this, feel free to propose a PR, and we can continue discussi

[2022-10-19 16:25] mariuspana opened #179 "[BUG] cannot create sites"
**Describe the bug**
Using the "server" role does not create a site. Rather we get an error.

**Component Name**
server role

**Ansible Version**
[code]

**Checkmk Version**
[code]

**Collection Version**

[code]
**Environment**
MacOS Monterey 12.6
Darwin imac.local 21.6.0 Darwin Kernel Version 21.6.0: Mon Aug 22 20:17:10 PDT 2022; root:xnu-8020.140.49~2/RELEASE_X86_64 x86_64

Python 3.10.7

**To

[2022-10-19 21:20] robin-tribe29 commented on #179
Hi Marius!

There are a few too many dashes in your `checkmk_server_sites` variable. Only prefix the `name` with one and remove the other three.

I get the point with the documentation however. Do have something specific in mind that would have helped you?

[2022-10-20 05:46] mariuspana commented on #179
Oh boy do I feel sill now :-{

The examples are actually ok (no extra dashes), for some reason I ended up putting those on my own. Not sure if more examples/documentation would have helped here other than for copy/pasting things.

I am afraid to say I dropped the ball here and it is more a paying attention and some basic ansible experience, than anything you could have done.

I owe you a beer :)

[2022-10-20 05:48] #179 closed

[2022-10-20 06:24] robin-tribe29 commented on #179
Thanks for the feedback and I am glad I could help!

Looking forward to meeting you and getting that beer one day. ;)

Cheers!

[2022-10-24 06:42] robin-tribe29 opened #180 "[FEED] Harmonize module parameters"
Please verify first that your feedback is not already reported [here](https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues?q=is%3Aissue+sort%3Aupdated-desc).
If possible and useful provide additional information below. This is optional however.

**Provide your feedback**

We already digressed with the naming of module parameters, namely the `name` of the managed object in the below

[2022-10-24 18:14] msekania commented on #180
Dear @robin-tribe29

There is a "host_name" field in host module.
To be consistent, then this should be also changed to just 'name'

It's a design issue, which one should decide once and carry on through all modules then.
One can also make this style decision for all group modules only. It will be then also consistent.

I do not mind to make changes if we all agree on name conventions.

Best,
Mich

[2022-10-25 23:38] adamsilkcm opened #181 "[FEED] Check mode for rules"
**Provide your feedback**
It would be useful to have this show planned changes in ansible's `--check` mode.

**Component Name**

rule module

**Ansible Version**
independent

**Collection Version**

[code]

[2022-10-26 00:22] adamsilkcm opened #182 "[FEED] Rules documentation improvements"
I would consider this a separate issue from https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues/153

**Provide your feedback**
Documentation contains:
[code]
The examples show:
[code]
Example rule from API:
[code]
So while `rule` is a dict as per documentation, mixing YAML and JSON in the example, while technically correct, is a bit confusing, especially when keeping it all as JSO

[2022-10-26 06:18] robin-tribe29 commented on #181
Hi Adam and thanks for the suggestion! This would for sure be a very useful feature.
We are very limited on resources however, so this is gonna end up at the end of a pile of work.
I labeled the issue as "help wanted", so maybe someone else can implement this earlier, than we can.

If there is any news from our side, we will update here.

[2022-10-27 14:05] robin-tribe29 commented on #180
@msekania thanks for the input. I will investigate some more and discuss this internally. This will take some time though, but I feel like it is not that urgent.
For the open PRs, I am uncertain right now, if we should wait or not. I will have more to share at the end of next week.

[2022-10-31 20:22] clagio opened #186 "[BUG] value_raw set to a variable"
**Describe the bug**
I'm trying to set the value of value_raw to a variable instead of hardcoding it in the task, so I can reuse the same task for multiple rules. Unfortunately I get the error "Unsupported type. Field must be string". The same task with the value_raw explicitly set works fine. Seems to be an escaping issue, and I'm not 100% the issue is with the collection honestly.. but I'm bangi

[2022-11-01 13:45] muehlings commented on #186
Hello clagio,

can you please try to write the rule as dict(key:list)?
    vars:
      - myvariable: {'levels': [80,90]}

Tuples and ansible are kind of impossible and I suspect that the API call will be JSON-encoded anyways. JSON doesn't know tuples.

The debug output in ansible is the output of json.dumps() and thus the original type of the object isn't preserved. At the moment I have no 2.1 ins

[2022-11-01 20:22] clagio commented on #186
Hi, I tried removing the double quotes s you asked, but I get the same error "Unsupported type. Field must be string" but in this case I see from the debug info that all the output is mixed up.

[2022-11-02 07:09] muehlings commented on #186
Have you removed the "()" and replaced them with "[]", too? Ansible doesn't know the tuple-notation (tup1,tup2) of python. The line in YAML is then interpreted as string and mixed up.

[2022-11-02 20:32] clagio commented on #186
thanks, I modified the source as you did, and indeed now the first task( myvariable: {'levels': [81,91]}) works, but I get an error with the following :

[code]
I will have a look later at the sources to see if I can find why

[2022-11-03 03:01] clagio commented on #186
I has a better look, your change replace all squared brackets with rounded brackets, which means this:
` 'regions': ['eu-west-1'],` becomes `'regions': ('eu-west-1'),` and it fails.
It's tricky because depending on the rule we may need a replace or not..

I have also an issue where it keep creating the rule even if already exists, but I haven't narrowed down the problem yet. Would make sense to us

[2022-11-03 07:12] muehlings commented on #186
Yes, you are right.

The only clean way to get this resolved in my opinion is that the API of Checkmk should accept and deliver JSON and not a string which is "evaluated" into a python object. There was some discussion about that in https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues/153
I don't know the reason for the decision to not modifying the API.

The second possibility wil

[2022-11-03 07:21] muehlings commented on #163
Hello @cbirkenbeul

Can have a look at https://github.com/tribe29/ansible-collection-tribe29.checkmk/pull/187 and test or is it no longer interesting for you?

[2022-11-04 00:38] clagio commented on #186
I agree the cleanest way is to fix it at the API level..
I think the different parameters in the value_raw are handled differently by the API, for example:
`'regions': ['eu-west-1', 'eu-west-2'],` need to stay with the squared brackets (will fails with the rounded brackets )
`'secret_access_key': ['password', 'xxxxxxxxxxxxxxxxxxxx'],` need to be with rounded brackets or will fail.
But from my unde

[2022-11-04 07:02] muehlings commented on #186
For all password fields I found out the following: You can just write the password as string without the ('password', 'YOURPASSWORD') notation:
/omd/sites/TEST/lib/python3/cmk/gui/plugins/wato/utils/__init__.py has a function to transform the string into the required tuple:
`forth=lambda v: ("password", v) if not isinstance(v, tuple) else v`

This is done automatically and removes at least one typ

[2022-11-04 09:17] stdevel opened #188 "[BUG] Scheduling downtimes breaks with KeyError in case of missing/incorrect information"
**Describe the bug**
When scheduling a downtime with missing or incorrect information (e.g. non-existent host, http instead of https) the plugin `downtime.py` simply breaks with a `KeyError` - an human-readable error message is not displayed.

**Component Name**
The error exists in [line 245 of `downtime.py`](https://github.com/tribe29/ansible-collection-tribe29.checkmk/blob/main/plugins/modules/d

[2022-11-04 17:04] robin-tribe29 commented on #182
Hi @adamsilkcm and thanks for reporting this!
We are quite swamped right now, but I will get to this as soon as I can.
If you have a concrete idea, what we should change, do let us know, or create a pull request yourself. :)

[2022-11-07 01:43] clagio commented on #186
that's right! thanks, it's helpful at least for the passwords

[2022-11-07 21:10] garethhumphriesgkc opened #189 "[BUG] Duplicate CRE install stanza"
The stanzas at line 54 and 78 of [/roles/agent/tasks/RedHat.yml](https://github.com/tribe29/ansible-collection-tribe29.checkmk/blob/edf09d26062c4e13bbeb6533e211c49f693c98c3/roles/agent/tasks/RedHat.yml#L54) are identical:
[code]

Looks like a copy+paste where one is meant to be a different type, but maybe they're just straight up dupes?

https://github.com/tribe29/ansible-collection-tribe29.checkm

[2022-11-08 02:22] clagio commented on #186
Another tuple issue with the overall_tags:
[code]
The playbook runs fine and the rule is created but when I check the rule in checkmk the option "Restrict monitoring services by one of these AWS tags" is not flagged and I get the following message:

_Unable to read current options of this rule. Falling back to default values. When saving this rule now, your previous settings will be overwritten. P

[2022-11-09 12:47] robin-tribe29 commented on #189
The duplicate task has already been cleaned up in the `devel` branch. I cannot find the commit, however.

Regarding the wording of "Derivates" and "Derivatives" I will do some research and fix this if possible.

[2022-11-09 14:25] robin-tribe29 commented on #182
@diademiemi if I may tag you here: Maybe you can improve the documentation yourself, before I try to find the right words?

[2022-11-11 11:24] lgetwan commented on #175
The API supports the three modes "attributes", "update_attributes" and "remove_attributes". Robin and I were recently talking about using these in the collection, as well.

[2022-11-11 15:35] artiommocrenco opened #191 "[FEED] Ability to configure services programmatically"
**Provide your feedback**
It would be good to have an option to configure checkmk services programmatically with an ansible module (within this collection), for example tribe29.checkmk.service.

Particularly, take this use case: https://checkmk.com/blog/how-to-monitor-web-server . It should be popular among checkmk users.

Company I work at manages hundreds of web virtual hosts and DNS entries.

H

[2022-11-14 07:27] robin-tribe29 commented on #191
Hi @artiommocrenco and thank you for your feedback!

What you are looking for is the [rule module](https://github.com/tribe29/ansible-collection-tribe29.checkmk/blob/main/plugins/modules/rule.py). With it, you configure all rules within Checkmk, be it an additional HTTP service, or a disabled service or something entirely different.

A quick note towards terraform: I personally deem Terraform to b

[2022-11-14 12:17] #191 closed

[2022-11-14 12:54] teridon opened #192 "[BUG] discovery task does not change monitored services"
Verify first that your issue is not already reported [here](https://github.com/tribe29/ansible-collection-tribe29.checkmk/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc).
Where possible also test if the latest release and main branch are affected too.
Complete all sections as described!

**Describe the bug**

"fix_all" discovery task reports changed but site does not show any changes

**Compone

[2022-11-14 14:39] artiommocrenco commented on #192
While also investigating this collection, I saw this comment in tests:

https://github.com/tribe29/ansible-collection-tribe29.checkmk/blob/6d7e4b5e17dd0097a1ba20d7adda2cdfaeb66ee7/playbooks/test-full.yml#L99

        # See https://jira.lan.tribe29.com/browse/CMK-7200

Might help you, try `state: refresh`

[2022-11-14 14:44] artiommocrenco commented on #192
https://forum.checkmk.com/t/rest-api-issue-regarding-service-discovery/23899/2

[2022-11-14 15:49] teridon commented on #192
So it sounds like the issue is in the REST API (?).  If that's the case, do we change the collection to match the current REST API, or leave this issue open until the REST API is fixed?

[2022-11-15 07:48] robin-tribe29 commented on #192
I would have to double-check, but I think this fixed in Checkmk 2.1. You should upgrade to the latest version and test this again.
We are always tracking the latest Checkmk release with this collection, so older Checkmk versions might work, but we cannot guarantee that.

[2022-11-16 14:05] diademiemi commented on #182
Sorry for the late reply.

 I split the top level fields into `conditions`, `properties` and `value_raw` so it's easier to modify these in Ansible if needed. I'm not quite sure what you're suggesting gets changed here, what do you think would be better for the documentation?

[2022-11-17 06:00] ogaida commented on #175
Excellent, please remember to not overwrite the folder if the host already exists. :-)

[2022-11-18 16:42] #189 closed

[2022-11-22 09:12] msekania opened #195 "[BUG] rule module does not respect parameter folder"
**rule module does not respect parameter folder**

module `rule` does not respect the parameter `folder`, only the parameters `conditions`, `properties`, `value_raw`.

It does not take into account that `folder` might be also different.

As a result one cannot assign the rule with the same `conditions`, `properties`, `value_raw` to two different folders.

With REST API it is possible!

snippet fro

[2022-11-24 17:17] msekania commented on #186
@muehlings,

Unfortunately string substitution does not solve the problem and creates other ones, because there are arrays (lists) too, not only tuples!
_for example_ : expect_response: ['302', '403']  it should be array exactly with [ , ] and nor tuple with ( , ), otherwise it's again an error!

With this substitution for example

I agree though that API should deliver correctly formatted JSON.

[2022-11-24 17:23] msekania commented on #186
Probably this is also helpful,

jinja2 template file with macros `value_raw_gen.j2`

[code]

in ansible then
[code]

[2022-11-29 07:41] robin-tribe29 commented on #195
@diademiemi may I ping you here and ask that you take a look? Thanks!

[2022-11-29 08:20] diademiemi commented on #195
Yeah I'll have a look when I can

[2022-11-30 15:44] robin-tribe29 commented on #186
I talked to one of our developers, and it looks like this is an upstream issue, which we cannot solve in the collection.
A lot of programming details in here I do not understand, but it sounds like some workarounds were already discussed.
I will keep this open for some time, maybe I can get some feedback from our API team.

Maybe someone can write up some sort of bottom line, where we are right no